[submodule "oice-server"]
	path = oice-server
	url = https://github.com/likecoin/oice-server
[submodule "oice-web"]
	path = oice-web
	url = https://github.com/likecoin/oice-web
[submodule "rqworker"]
	path = rqworker
	url = https://github.com/likecoin/Builder3
